.contentPreview {
    background-color: black;
    width: 100%;
    height: 100%;
    height: 1080px;
}

.inline-photo {
    margin: 2em auto;
    color: rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    max-width: 300px;
    width: 100%;
    will-change: transform;
    padding: 40px;
    border-radius: 40%;
    opacity: 0.1;
    transform: translate(+50%);
}

.inline-photo h1 {
    font-family: sans-serif;
    align-items: center;
}

.inline-photo.is-visible {
    opacity: 0.9;
    transform: rotateZ(+0deg);
}

.is-visible .main-photo {
    transform: none;
}

.main-photo,
.heading {
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), filter 10s 2s ease-out;
    will-change: transform;
    font-weight: bold;
}

.profilepicPreview {
    height: 200px;
    width: 160px;
    border-radius: 50%;
}

#navbar {
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 25px bold;
    z-index: 0;
    color: black;
}

#navbar ul {
    display: flex;
    position: relative;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    flex-direction: row-reverse;
}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    border: 2px black;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#navbar ul li a:hover {
    background-color: black;
    color: white;
}

.content .heading {
    background-color: rgb(141, 168, 226);
    z-index: -5;
}

.parts .lists {
    list-style-type: disc;
}

.people {
    background-color: aliceblue;
    padding: 10px;
    padding-top: 12%;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.profilepic {
    height: 15rem;
    width: auto;
    left: 70%;
    top: 20%;
    position: relative;
    border-radius: 50%;
}

.github {
    height: 40px;
    width: auto;
    background-color: #f9f9f9;
    padding: 5px;
}

.description {
    color: #f9f9f9;
}

.ss_of_webapps {
    width: 350px;
    height: auto;
}

@media (max-width:900px) {
    .introPreview {
        display: grid;
        grid-template-columns: 70%;
    }
}